body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.root {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  min-width:1000px; 
  height:auto; 
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fffb00;
}

::-webkit-scrollbar-thumb {
  background: #fff200;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ede8b2;
}